[submodule "pandamonium"]
	path = pandamonium
	url = git@github.com:AlexBoyd/pandamonium.git
[submodule "gendarme"]
	path = gendarme
	url = git@github.com:AlexBoyd/unity-gendarme.git
[submodule "cecil"]
	path = cecil
	url = git://github.com/jbevain/cecil.git
